<h2>Rapport mensuel de morbidité</h2>
<h4>Version pour imprimante (PDF)</h4>
<table>
	<tr><td>
	<ul>
	<li><%= link_to "Avril 2011", :controller => :consul_diags, :action =>:find_offi, :format =>"pdf", :anne => 2011, :mois => 4, :dernier_jour =>30 %></li>
	<li><%= link_to "Mai 2011", :controller => :consul_diags, :action =>:find_offi, :format =>"pdf", :anne => 2011, :mois => 5, :dernier_jour =>31 %></li>
	<li><%= link_to "Juin 2011", :controller => :consul_diags, :action =>:find_offi, :format =>"pdf", :anne => 2011, :mois => 6, :dernier_jour =>30 %></li>
	<li><%= link_to "Julliet 2011", :controller => :consul_diags, :action =>:find_offi, :format =>"pdf", :anne => 2011, :mois => 7, :dernier_jour =>30 %></li>
	<li><%= link_to "Aout 2011", :controller => :consul_diags, :action =>:find_offi, :format =>"pdf", :anne => 2011, :mois => 8, :dernier_jour =>31 %></li>
	<li><%= link_to "Septembre 2011", :controller => :consul_diags, :action =>:find_offi, :format =>"pdf", :anne => 2011, :mois => 9, :dernier_jour =>30 %></li>
	<li><%= link_to "Octobre 2011", :controller => :consul_diags, :action =>:find_offi, :format =>"pdf", :anne => 2011, :mois => 10, :dernier_jour =>31 %></li>
	<li><%= link_to "Novembre 2011", :controller => :consul_diags, :action =>:find_offi, :format =>"pdf", :anne => 2011, :mois => 11, :dernier_jour =>30 %></li>
	<li><%= link_to "Decembre 2011", :controller => :consul_diags, :action =>:find_offi, :format =>"pdf", :anne => 2011, :mois => 12, :dernier_jour =>31 %></li>
	</ul></td><td>
<ul>
<li><%= link_to "Janvier 2012", :controller => :consul_diags, :action =>:find_offi, :format =>"pdf", :anne => 2012, :mois => 1, :dernier_jour => 31 %></li>
<li><%= link_to "Février 2012", :controller => :consul_diags, :action =>:find_offi, :format =>"pdf", :anne => 2012, :mois => 2, :dernier_jour => 28 %></li>
<li><%= link_to "Mars 2012", :controller => :consul_diags, :action =>:find_offi, :format =>"pdf", :anne => 2012, :mois => 3, :dernier_jour => 31 %></li>
<li><%= link_to "Avril 2012", :controller => :consul_diags, :action =>:find_offi, :format =>"pdf", :anne => 2012, :mois => 4, :dernier_jour => 30 %></li>
<li><%= link_to "Mai 2012", :controller => :consul_diags, :action =>:find_offi, :format =>"pdf", :anne => 2012, :mois => 5, :dernier_jour => 31 %></li>
<li><%= link_to "Juin 2012", :controller => :consul_diags, :action =>:find_offi, :format =>"pdf", :anne => 2012, :mois => 6, :dernier_jour => 30 %></li>
<li><%= link_to "Julliet 2012", :controller => :consul_diags, :action =>:find_offi, :format =>"pdf", :anne => 2012, :mois => 7, :dernier_jour =>30 %></li>
<li><%= link_to "Aout 2012", :controller => :consul_diags, :action =>:find_offi, :format =>"pdf", :anne => 2012, :mois => 8, :dernier_jour =>31 %></li>
<li><%= link_to "Septembre 2012", :controller => :consul_diags, :action =>:find_offi, :format =>"pdf", :anne => 2012, :mois => 9, :dernier_jour =>30 %></li>
<li><%= link_to "Octobre 2012", :controller => :consul_diags, :action =>:find_offi, :format =>"pdf", :anne => 2012, :mois => 10, :dernier_jour =>31 %></li>
<li><%= link_to "Novembre 2012", :controller => :consul_diags, :action =>:find_offi, :format =>"pdf", :anne => 2012, :mois => 11, :dernier_jour =>30 %></li>
<li><%= link_to "Decembre 2012", :controller => :consul_diags, :action =>:find_offi, :format =>"pdf", :anne => 2012, :mois => 12, :dernier_jour =>31 %></li>
</ul></td>
</tr>
</table>