<div class="consul_trat">
  <p>
  Traitement:
    <!-- f.collection_select(:traitement_id, Traitement.order("description"),:id,:description, :include_blank => true ) %> -->
    <%= f.collection_select(:groupe_traitement_id, GroupeTraitement.order("description"),:id,:description, :include_blank => true ) %>
	 <%= f.text_field :traitement_name, :size => 60, :class => 'autocomplete' %>
    <%= f.hidden_field :traitement_id %>
    
    <%= link_to_remove_fields "Éliminer", f %>
    <span class="spinner" style = 'display:none'><%= image_tag 'spinner.gif' %></span>
  </p>  
</div>