<%= init_jquery_ui %>

<%= form_for @consultation do |f| -%>
  <%= f.error_messages %>
  <div id="identification">
    <strong><%= pat_carte_code %></strong> <%= pat_prenom %> <%= pat_nom %> <%= pat_id %>
  </div>
  <%= f.hidden_field :patient_id, :value => pat_id %> 
  <p>
    Date: <%= f.date_select :fecha %>
  </p>
  <p> Tipe de consultation: 
	<%= f.collection_select(:tipeconsultation_id,Tipeconsultation.all,:id,:tipe , :include_blank => true) %>
    
  </p>
	<div class="consul_motifs fields">
	    <%= f.fields_for :consul_motifs do |builder| %>
	      <%= render "consul_motif", :f => builder %>
	    <% end %>
	    <p>
	      <%= add_consul_motif_link "Ajouter un motif", f %>
	    </p>    
	  </div>
  <p>Details symptomes:
	  <%= f.text_area :motif, :size => "40x3" %>
	</p>
	<p>
	<p>
		Tension arteriale: <%= f.text_field :tension_arteriale_haute, options={:size =>'3'} %>/<%= f.text_field :tension_arteriale_basse, options = {:size =>'3'} %> 
		Pouls: <%= f.text_field :poul, options={:size =>'3'} %> 
		Temperature: <%= f.text_field :temperature, options={:size =>'4'} %> 
		Respiration: <%= f.text_field :respiration, options={:size =>'3'} %> 
		Poids: <%= f.text_field :poid, options={:size =>'3'} %></p>
	<p>
	<div class="consul_diag1">	
  <div class="consul_diags fields">
    <%= f.fields_for :consul_diags do |builder| %>
      <%= render "consul_diag", :f => builder %>
    <% end %>
    <p>
      <%= add_consul_diag_link "Ajouter un diagnostique", f %>
    </p>    
  </div></div>
	<div class="consul_trat1">	
  <div class="consul_trats fields">
    <%= f.fields_for :consul_trats do |builder| %>
      <%= render "consul_trat", :f => builder %>
    <% end %>
    <p>
      <%= add_consul_trat_link "Ajouter un traitement", f %>
    </p>
  </div></div>
  <p>
    Observations: <%= f.text_field :observation %>
  </p>
<p>Résultat analyses:
	  <%= f.text_area :analyse, :size => "40x3" %>
	</p>
  <p><%= f.submit "Ajouter consultation" %></p>
<% end %>
