<%= form_for @patient do |f| %>
  <%= f.error_messages %>
  <p>
	<%= f.label :carte_code %>
    <%= f.text_field :carte_code, :size => '5' %>&nbsp;&nbsp;
    <%= f.label :prenom %>
    <%= f.text_field :prenom %>&nbsp;&nbsp;
 
    <%= f.label :nom %>
    <%= f.text_field :nom %><br />
  

  </p>
  <p>Date d'inscription
   <%= f.date_select :fecha %>
  </p>
  <p>    <%= f.label :sex_id %>
	<%= @sexes=Sex.find(:all,:order=>"description")
	    f.collection_select(:sex_id,@sexes,:id,:description, {:selected=>1}) %>
&nbsp;&nbsp;
   
  
    Date de naissance: 
    <%= f.text_field :jour, :size => '1' %> /<%= f.text_field :mois , :size => '1' %>/<%= f.text_field :naissance , :size => '3'%>
&nbsp;&nbsp;
    <%= f.label :village_id %>
	<%= @villages=Village.find(:all,:order=>"nom")
	    f.collection_select(:village_id,@villages,:id,:nom, {:selected=>23} ) %>
    
 &nbsp;&nbsp;
    <%= f.label :commune_id %>
	<%= @communes=Commune.find(:all,:order=>"nom")
	    f.collection_select(:commune_id,@communes,:id,:nom, {:selected=>4} ) %> 
  </p>
  <p>
    <%= f.label :ethnie_id %>
	<%= @ethnies=Ethnie.find(:all,:order=>"nom")
	    f.collection_select(:ethnie_id,@ethnies,:id,:nom) %>
&nbsp;&nbsp;
    <%= f.label :profession_id %>
	<%= @professions=Profession.find(:all,:order=>"nom")
	    f.collection_select(:profession_id,@professions,:id,:nom) %>
  </p>
  <p><%= f.submit "Ajouter patient" %></p>
<% end %>
