
<div id="datos_person">
	<% title "Patient" %><p>
  <strong>Carte Code:</strong>
  <%= @patient.carte_code %>

  <strong>Prenom:</strong>
  <%= @patient.prenom %>

  <strong>Nom:</strong>
  <%= @patient.nom %>
</p>

<p>
  <strong>Date:</strong>
  <%= @patient.fecha %>

  <strong>Sex:</strong>
  <%= @patient.sex_description %>

  <strong>Date de naissance:</strong>
  <%= @patient.jour %>/<%= @patient.mois %>/<%= @patient.naissance %>
</p>
<p>
  <strong>Village:</strong>
  <% if @patient.village_id %>
          <%= @patient.village_nom %>
<% end %>

  <strong>Commune:</strong>
  <% if @patient.commune_id %>
          <%= @patient.commune_nom %>
<% end %>
</p>
<p>
  <strong>Ethnie:</strong>
  <%= @patient.ethnie_nom %>

  <strong>Profession:</strong>
  <%= @patient.profession_nom %>
</p>
</div>
<div id="datos_consulta">
<h3>Consultations</h3>
<p>
<% @patient.consultations.each do |k| %>
   <p>
   <strong class="rouge">
   <%= link_to k.fecha, enlace2_url(:id =>  k.id)%></strong><br/>
   <% if k.motif %> 
     <strong>Motif ou symptomes:</strong> <%= k.motif %><br />
   <% end %>
   <% if k.tension_arteriale_haute %>   
      <strong>TA:</strong> <%= k.tension_arteriale_haute %>/<%= k.tension_arteriale_basse %> mm Hg
   <% end %>
   <% if k.poul %>
      <strong>Pouls:</strong> <%= k.poul %> p/m
   <% end %>
   <% if k.temperature %>
      <strong>Temp:</strong> <%= k.temperature %> C
   <% end %>     
   <% if k.respiration %>
     <strong>Respiration:</strong> <%= k.respiration %> R/m
   <% end %> 
   <% if k.poid %>
     <strong>Poids:</strong> <%= k.poid %> Kg
   <% end %>

   <%  if (k.motif or k.tension_arteriale_haute or  k.poul or k.temperature or k.respiration or k.poid) then %>
  
      <br />
	<% end %>
   <strong>Diagnostic:</strong> <% k.consul_diags.each do |h| %>
      <%= h.diagnostic.description %><br />
      <% end %>
   <strong>Traitement:</strong>
   <% k.consul_trats.each do |h| %>
      <%= h.traitement.description %><br />
      <% end %>
   <% if k.observation %> 
    <strong>Observations:</strong> <%= k.observation %><br />
     <% end %>
       <% if k.analyse %> 
    <strong>Résultat analyses:</strong> <%= k.analyse %>
     <% end %>
     </p>
<% end %>
</p>
</div>

  <%= link_to "Editer", edit_patient_path(@patient) %> |
  <%= link_to "Liste generale ", patients_path %> |
  <%= link_to "Nouvelle Consultation", enlace_url(:id =>  @patient.id) %> |
  <%= link_to "Nouveau Patient", new_patient_path %>
</p>
</div>
